 @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
/* Sidebar */
.sidebar {
    width: 14rem!important;
    min-height:100vh;
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
a.sidebar-brand.d-flex.align-items-center.justify-content-center{
    padding: 24px 16px 24px 16px;
    margin-left: 0px;

}
div.col-2 ul{
    padding-right: 0px;
    margin-left: auto;
    margin-right: inherit;
}
div.col-2{
    position: relative;
    padding-right: 0px;
    padding-left: 0px;
}
.nav-link{
    padding: 16px!important;
}
.sidebar #sidebarToggle {
width: 2.5rem;
height: 2.5rem;
text-align: center;
margin-bottom: 1rem;
cursor: pointer;
}

.sidebar #sidebarToggle::after {
font-weight: 900;
content: '\f104';
margin-right: 0.1rem;
}

.sidebar #sidebarToggle:hover {
text-decoration: none;
}
.sidebar #sidebarToggle{
background-color: rgba(255,255,255,.2);
}
.sidebar #sidebarToggle:focus {
outline: none;
}

.sidebar.toggled {
width: 0 !important;
overflow: hidden;
}

/*End of sidebar */
/*body*/
#page-top{
    overflow-x:hidden;
}
/*End of body*/
/*header*/
div.col-10{
    position: relative;
    padding: inherit;
}
.topbar .navbar-search {
    width: 25rem;
}
  
.topbar .navbar-search input {
    font-size: 0.85rem;
    height: auto;
}
/*End of header*/
/*responsive*/

/*End responsive*/   
<script>
  window.console = window.console || function(t) {};
</script>